{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Krishna General Store</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script type="text/javascript" src="{% static 'javscript.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div>
                <div class="nev1">
                    <h1>Krishna General Store</h1>
                    <input type="button">
                </div>
                <div class="nev">
                    <a href="#" >Contact Us</a>
                </div>
                <div class="nev">
                    <a href="#" >About Us</a>
                </div>
                <div class="nev">
                    <a href="#" >Service</a>
                </div>
                <div class="nev">
                    <a href="#" >Home</a>
                </div>
            </div>
        </div>
        <h4>cosmetics products</h4>
        <div class= "image">
            <div class="img1">
                <img src="{% static 'img/img1.png' %}">
                <h4>lipstic</h4>
                <p>&#8377 100</p>
                <input type="button" name="button" value="Buy Now">
            </div>
            <div class="img1">
                <img src="{% static 'img/img2.webp' %}">
                <h4>powder</h4>
                <p>&#8377 40</p>
                <input type="button" name="button" value="Buy Now">
            </div>
            <div class="img1">
                <img src="{% static 'img/img3.webp' %}">
                <h4>oil</h4>
                <p>&#8377 30</p>
                <input type="button" name="button" value="Buy Now">
            </div>
            <div class="img1">
                <img src="{% static 'img/img1.png' %}">
                <h4>lipstic</h4>
                <p>&#8377 100</p>
                <input type="button" name="button" value="Buy Now">
            </div>
            <div class="img1">
                <img src="{% static 'img/img2.webp' %}">
                <h4>powder</h4>
                <p>&#8377 40</p>
                <input type="button" name="button" value="Buy Now">
            </div>
            <div class="img1">
                <img src="{% static 'img/img3.webp' %}">
                <h4>oil</h4>
                <p>&#8377 30</p>
                <input type="button" name="button" value="Buy Now">
            </div>
            
            <div class="img1">
                <img src="{% static 'img/img1.png' %}">
                <h4>lipstic</h4>
                <p>&#8377 100</p>
                <input type="button" name="button" value="Buy Now">
            </div>
        </div>
        
        <div class= "footer">
            <div class=""
        </div>
    </body>
</html>